apiVersion: infra.kuid.dev/v1alpha1
kind: Node
metadata:
  name: {{ metadata.name }}
  namespace: {{ metadata.namespace }}
spec:
  partition: 
  region:
  site:
  node:
  {%- if rack %}
  rack:
  {%- endif %}
  {%- if position %}
  position
  {%- endif %}
  {%- if location %}
  location
  {%- endif %}
  provider:
  platformType:
  *labels: